  # Specify the version of Docker Compose

services:
  frontend:
    build: ./client
         # Path to the frontend Dockerfile
    
    ports:
      - "5173:5173"  # Expose frontend port
    volumes:
      - ./client:/app
      - /app/node_modules
    command: npm run dev
    networks:
      - mern_network
    depends_on:
      - mongodb

  backend:
    build: ./server  # Path to the backend Dockerfile
    networks:
      - mern_network

    ports:
      - "4000:4000"
    env_file:
      - ./server/.env
    depends_on:
      - mongodb

  mongodb:
    image: mongo:latest  
    ports:
      - "27017:27017"  
    networks:
      - mern_network
    volumes:
      - mongo-data:/data/db  

networks:
  mern_network:
    driver: bridge 

volumes:
  mongo-data:
    driver: local